@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@200&display=swap');
h1{
    font-size: 50px;
    color: black;
    background-color: burlywood;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    text-shadow: 5px 5px 5px  rgb(118, 62, 17);
    text-align: center;

}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box1{
    width: 250px;
    height: 250px;
    background-color: rgb(230, 139, 150);
    border-style: solid;
}
.box2{
    width: 250px;
    height: 250px;
    background-color: rgb(242, 227, 130);
    border-style: solid;
}
.box3{
    width: 250px;
    height: 250px;
    background-color: peru;
    border-style: solid;
}
.box4{
    width: 250px;
    height: 250px;
    background-color: rgb(167, 216, 131);
    border-style: solid;
}