@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@200&display=swap');
img{
    max-width: 100%;
    height: auto;
}
.p1 {
font-size: 30px;
color: rgb(0, 0, 0);
background-color: rgb(161, 137, 118);
font-family: 'Playfair Display', serif;
}
.p2{
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(161, 137, 118);
    font-family: 'Poppins', sans-serif;
}
.p3{
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(161, 137, 118);
    font-family: 'Poppins', sans-serif;
}
/* laptop */
@media only screen and (min-width:769px) and (max-width:1024px){
    img{
        max-width: 100%;
        height: auto;
    }
    .p1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(161, 137, 118);
    font-family: 'Playfair Display', serif;
    }
    .p2{
        font-size: 30px;
        color: rgb(0, 0, 0);
        background-color: rgb(161, 137, 118);
        font-family: 'Poppins', sans-serif;
    }
    .p3{
        font-size: 30px;
        color: rgb(0, 0, 0);
        background-color: rgb(161, 137, 118);
        font-family: 'Poppins', sans-serif;
    }}
/* tablets */
@media only screen and (min-width:481px) and (max-width:768px){
    img{
        max-width: 100%;
        height: auto;
    }
    .p1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(187, 255, 150);
    font-family: 'Playfair Display', serif;
    }
    .p2{
        font-size: 30px;
        color: rgb(0, 0, 0);
        background-color: rgb(187, 255, 150);
        font-family: 'Poppins', sans-serif;
    }
    .p3{
        font-size: 30px;
        color: rgb(0, 0, 0);
        background-color: rgb(187, 255, 150);
        font-family: 'Poppins', sans-serif;
    }}
/* mobile */
@media only screen and (min-width:320px) and (max-width:482px){
    img{
        max-width: 100%;
        height: auto;
    }
    .p1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(32, 80, 255);
    font-family: 'Playfair Display', serif;
    }
    .p2{
        font-size: 30px;
        color: rgb(0, 0, 0);
        background-color: rgb(32, 80, 255);
        font-family: 'Poppins', sans-serif;
    }
    .p3{
        font-size: 30px;
        color: rgb(0, 0, 0);
        background-color: rgb(32, 80, 255);
        font-family: 'Poppins', sans-serif;
    }
}